/* Add CSS Styling */
.marimo {
    background-color: black;
    color: white;

}
.idk {
    color: black;
    background-color: yellow;
    border-color: black;
}
.go {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif
}